<a href="https://colab.research.google.com/github/alepenaa94/TP1_Real_or_Not/blob/master/TP1_Real_or_Not.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Features

En este notebook la idea es realizar todo el procesamiento del set de datos, limpieza en los campos de ser necesario y sección para la generacion de los features.

## Ideas de cosas a realizar

--> Generar un N-grama <br>
--> mejorar los stopwords <br>
--> poder darle mas caracter a un tweet segun su texto <br>
--> TF-IDF <br>
--> Embeddings <br>

In [1]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
train_df = pd.read_csv('../Data/train.csv', encoding='latin-1',dtype={'id': np.uint16,'target': np.bool})
test_df = pd.read_csv('../Data/test.csv', encoding='latin-1',dtype={'id': np.uint16})

In [3]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,True
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,True
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,True
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",True
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,True

In [4]:
test_df.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

## Limpieza de la información

En base a lo aprendido en el TP1, limpiamos la información de algunos campos del dataframe.

In [5]:
train_df['keyword'] = train_df['keyword'].str.replace('%20',' ')
test_df['keyword'] = test_df['keyword'].str.replace('%20',' ')

In [6]:
train_df['location'].fillna('Unknown',inplace=True)
test_df['location'].fillna('Unknown',inplace=True)

## Creación de features

Volvemos a generar las columnas utilizadas para el TP1 ya que podrían resultar features útiles para el modelo de predicción.

###### Cantidad de palabras en el tweet

In [7]:
train_df['cantidad_de_palabras'] = train_df['text'].str.count(' ') + 1
test_df['cantidad_de_palabras'] = test_df['text'].str.count(' ') + 1

###### Longitud del tweet

In [8]:
train_df['longitud_del_tweet'] = train_df['text'].str.len()
test_df['longitud_del_tweet'] = test_df['text'].str.len()

###### Realiza menciones

In [9]:
train_df['tiene_menciones'] = train_df['text'].str.contains('@')
test_df['tiene_menciones'] = test_df['text'].str.contains('@')

###### Tweet expresivo

In [10]:
train_df['es_expresivo'] = (train_df['text'].str.contains('\!\!') | train_df['text'].str.contains('\?\?'))
test_df['es_expresivo'] = (test_df['text'].str.contains('\!\!') | test_df['text'].str.contains('\?\?'))

###### Cantidad de hashtags

In [11]:
train_df['cantidad_de_hashtags'] = train_df['text'].str.count('#')
test_df['cantidad_de_hashtags'] = test_df['text'].str.count('#')

###### Tiene limks

In [12]:
train_df['tiene_links'] = train_df['text'].str.contains('http')
test_df['tiene_links'] = test_df['text'].str.contains('http')

In [13]:
train_df = train_df.set_index('id').iloc[:,3:]
test_df = test_df.set_index('id').iloc[:,3:]

Guardamos los dataframes de train y test en archivos .csv para usarlos en el Notebook de Algoritmos.

In [14]:
train_df.to_csv('../Data/train_features.csv')
test_df.to_csv('../Data/test_features.csv')